@import "nib"
@import "grid"
@import "utilities"
@import "normalize"
@import "variables"
@import "components/contac"
@import "components/topHeader"

.lanpage
  background: $principalColor
  height: 100%;
  top: 0px;
  position: absolute;
  display: block;
  width: 100%;
  &-footer
    width: 100%
    position: absolute;
    bottom: 0px;
  &-icon
    width: 100%
    text-align: center
    color: white
    background: $principalColor
    font-size:23px
    font-family: cursive;
    line-height: 50px
    position: absolute;
    top : 50%
    h1
      margin: 0
      padding: 0
