/*!
 * Main styles
 *
 */

@import "nib"
@import "grid"
@import "utilities"
@import "normalize"


vendor-prefixes = webkit o ms moz official

/*
 * ------------------------------
 * General
 * ------------------------------
 */
@import "variables"

 /*
  * ------------------------------
  * Components
  * ------------------------------
  */


header 
  margin-bottom: 40px;

#video 
  width: 100%;

#controls 
  margin-left: 15px;

.volumen
  width: 200px
  display: block
  float: right

.color 
    border: 1px solid black;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;

canvas
  border: 1px solid gray;
.color
  &.verde
    background-color: green;

  &.rojo
    background-color: red

  &.negro
    background-color: black

  &.azul 
    background-color: blue

.configpanel
  width: 500px;
  overflow: hidden;
  margin-bottom: 10px;

.panelcolor
  float left

.strokestyle 
  float right
